 body {
   margin: 0;

   font-family: 'Andika', sans-serif;
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Nunito', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Rubik', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 code {
   font-family: 'Andika', sans-serif;
   font-family: 'Josefin Sans', sans-serif;
   font-family: 'Nunito', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Rubik', sans-serif;
 }